body {
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none !important;
}


.spots {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 7%;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: #dce9ff;

    & div {
        color: #071336;
        font-weight: 400;
        font-size: 18px;;

        & a {
            color: #071336;
        }

        & a:hover {
            color: #0836bf;
        }

        & .bolded-text {
            font-weight: 700;
        }
    }
}

.navbar{
    width: 100%;

    & .nav-item .nav-link{
        color: #071336 !important;
    }

    & .nav-item .nav-link:hover{
        color: #0059FF !important;
    }

    .dropdown-menu{
        left: unset !important;
        right: 0 !important;
        background: linear-gradient(157.7deg, #ffffff 0%, #ededed 100%);
        border-radius: 8px !important;
        box-shadow: 0 25px 40px rgba(0, 0, 0, 0.09);
        border: 2px solid #dce9ff !important;
        padding: 16px 16px 0 !important;
    }
}

.nav{
    padding: 0 5%;
    position: fixed;
    margin-top: 49px;
    width: 100%;
    z-index: 999;
    background-color: #ffffff;
    transition: background-color 0.3s ease;

}


/* MAIN */
#hero{
    padding: 10% 0 5% 0;
    background-image: url("../images/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    & .left-side{
        display: flex;
        flex-direction: column;
        gap: 20px;

        & h1{
            font-size: 60px;
            font-weight: 800;
            color: #FFFFFF;

            & span{
                color: #00E676;
            }
        }

        & h5{
            font-size: 20px;
            font-weight: 300;
            color: #D1D5DB;
        }

        & p{
            font-weight: 500;
            color: #FFFFFF;
            margin-bottom: 0;
        }

        & .book-btn{
            background-color: #0055FF;
            border: none;
            border-radius: 9999px;
            box-shadow: 0px 10px 15px 0px #3B82F666;
            box-shadow: 0px 4px 6px 0px #3B82F666;
            padding: 2% 5%;
            color: #FFFFFF;
            font-weight: 700;
            transition: all 0.4s ease;
        }

        & .book-btn:hover{
            background-color: #0836bf;
            box-shadow: 0px 15px 20px 0px #3B82F699;
            box-shadow: 0px 5px 10px 0px #3B82F699;
        }

        & .download-btn{
            background-color: transparent;
            border: 2px solid #FFFFFF;
            border-radius: 9999px;
            padding: 2% 5%;
            color: #FFFFFF;
            font-weight: 700;
            transition: all 0.4s ease;
        }

        & .download-btn:hover{
            background-color: #FFFFFF;
            color: #0836bf;
        }

        & .light-box{
            background: rgba(11, 18, 33, 0.5);
            border: 1px solid rgba(0, 230, 118, 0.2);
            border-radius: 6px;
            padding: 0.5% 2%;
            color: #00E676;
            font-size: 14px;
            font-weight: 500;
            width: fit-content;
        }
    }

    & .right-side{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        & .white-box{
            background-color: #FFFFFF;
            border: 1px solid #E5E7EB;
            border-radius: 16px;
            padding: 1%;

            & h6{
                font-weight: 700;
                color: #0B1221;
            }

            & p{
                font-size: 12px;
                color: #6B7280;
            }
        }
        
    }
    
}

#programWorks{
    padding: 5% 0;

    & .intro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 3%;

        & h2{
            font-size: 36px;
            font-weight: 700;
            color: #0B1221;
            position: relative;
            padding-bottom: 12px;
        }

        & h2::before{
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            width: 80px;
            height: 4px;
            background-color: #00E676;
            border-radius: 2px;
        }

        & p{
            font-size: 20px;
            color: #4B5563;
            font-weight: 500;
        }
    }

    & .card{
        background-color: #FFFFFF;
        border: 1px solid #F3F4F6;
        border-radius: 16px;
        box-shadow: 0px 10px 15px 0px #0000001A;
        box-shadow: 0px 4px 6px 0px #0000001A;
        padding: 3%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 15px;
        height: 100%;

        & h6{
            font-size: 20px;
            font-weight: 700;
            color: #0B1221;
        }

        & .price{
            font-size: 36px;
            font-weight: 800;
            color: #0055FF;
        }

        & .black-price{
            font-size: 36px;
            font-weight: 800;
            color: #0B1221;
        }

        & .green-price{
            font-size: 36px;
            font-weight: 800;
            color: #00E676;
        }

        & .training-cost{
            font-weight: 500;
            color: #6B7280;
        }

        & span{
            font-size: 14px;
            color: #9CA3AF;
        }

        
    }

    & .bottom-text{
        font-size: 18px;
        color: #4B5563;
        text-align: center;
        margin-top: 5%;
        display: block;
    }
}

#trainingPrograms{
    padding: 5% 0;
    background-color: #0055FF;

    & .training-programs-inner{
        display: flex;
        flex-direction: column;
        gap: 50px;

        & .intro{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;

            & h2{
                font-size: 36px;
                font-weight: 700;
                color: #FFFFFF;
            }

            & p{
                font-size: 20px;
                color: #DBEAFE;
            }
        }

        & .card{
            background-color: #FFFFFF;
            border: 1px solid #E5E7EB;
            border-radius: 16px;
            box-shadow: 0px 20px 25px 0px #0000001A;
            box-shadow: 0px 8px 10px 0px #0000001A;
            height: 100%;
            padding: 5%;
            position: relative;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 10px;

            & .popular{
                font-size: 12px;
                font-weight: 700;
                color: #166534;
            }

            & .high-demand{
                position: absolute;
                top: 0;
                right: 0;
                background-color: #0B1221;
                border-bottom-left-radius: 8px;
                padding: 4px 8px;
                color: #FFFFFF;
                font-size: 12px;
                font-weight: 700;
            }

            & h3{
                font-size: 20px;
                font-weight: 700;
                color: #0B1221;
            }

            & .details{
                & p{
                    font-size: 14px;
                    font-weight: 500;
                    color: #4B5563;
                    margin-bottom: 0;
                }
            }

            & .bottom-text{
                font-size: 14px;
                color: #6B7280;
            }

            & .green-btn{
                background-color: #00E676;
                border: 1px solid #E5E7EB;
                border-radius: 8px;
                padding: 3% 5%;
                width: 100%;
                text-align: center;
                color: #0B1221;
                font-weight: 700;
                transition: all 0.3s ease;
            }

            & .green-btn:hover{
                background-color: #00C853;
                color: #FFFFFF;
            }

            & .black-btn{
                background-color: #0B1221;
                border: 1px solid #E5E7EB;
                border-radius: 8px;
                padding: 3% 5%;
                width: 100%;
                text-align: center;
                color: #FFFFFF;
                font-weight: 700;
                transition: all 0.4s ease;
            }

            & .black-btn:hover{
                background-color: #5e5e5e;
                color: #FFFFFF;
            }
        }

        & .benefits{
            width: 70%;
            margin: 0 auto;

            & .benefit{
                background-color: rgba(37, 99, 235, 0.5);
                border: 1px solid rgba(229, 231, 235, 1);
                border-radius: 9999px;
                padding: 1% 2%;

                & p{
                    color: #FFFFFF;
                    margin-bottom: 0;
                    text-wrap: nowrap;
                }
            }
        }

        & .bottom-section{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 15px;

            & p{
                font-size: 18px;
                font-weight: 600;
                color: #DBEAFE;
            }

            & h6{
                font-size: 30px;
                font-weight: 800;
                color: #FFFFFF;
            }

            & span{
                font-weight: 500;
                color: #DBEAFE;
            }

            & a{
                background-color: #FFFFFF;
                border: 1px solid #E5E7EB;
                border-radius: 9999px;
                box-shadow: 0px 10px 15px 0px #0000001A;
                box-shadow: 0px 4px 6px 0px #0000001A;
                padding: 1% 3%;
                color: #0055FF;
                font-weight: 700;
                transition: all 0.4s ease;
            }

            & a:hover{
                background-color: #0055FF;
                color: #FFFFFF;
            }
            
        }
    }
}

#whyMiami{
    padding: 5% 0;
    background-color: #F9FAFB;

    & h2{
        font-size: 36px;
        font-weight: 700;
        color: #0B1221;
        margin-bottom: 3%;
        text-align: center;
    }

    & .card{
        border-radius: 16px;
        padding: 5%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    & .white-card{
        border: 1px solid #F3F4F6;
        box-shadow: 0px 1px 2px 0px #0000000D;

        & h3{
            font-size: 24px;
            font-weight: 700;
            color: #0B1221;
        }

        & p{
            font-weight: 500;
            color: #374151;
            margin-bottom: 0;
        }
    }

    & .dark-card{
        position: relative;
        background: #0B1221;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 10px 15px rgba(0, 0, 0, 0.1);
        border-radius: 16px;
        overflow: hidden;

        & h3{
            font-size: 24px;
            font-weight: 700;
            color: #FFFFFF;
        }

        & p{
            font-weight: 500;
            color: #D1D5DB;
            margin-bottom: 0;

            & span{
                font-weight: 700;
                color: #FFFFFF;
            }
        }


    }

    & .dark-card::before{
        content: "";
        position: absolute;
        width: 160px;
        height: 160px;
        left: 472px;
        top: -40px;
        background: #0055FF;
        opacity: 0.2;
        border-radius: 9999px;
    }

}

#ideal{
    padding: 5% 0;

    & h2{
        font-size: 36px;
        font-weight: 700;
        color: #0B1221;
        text-align: center;
        margin-bottom: 3%;
    }

    & .card{
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        text-align: center;

        & p{
            font-size: 14px;
            font-weight: 700;
            color: #0B1221;
        }
    }
}

#participation{
    padding: 5% 0;

    & h2{
        font-size: 36px;
        font-weight: 700;
        color: #0B1221;
        text-align: center;
        margin-bottom: 3%;
    }

    & .card{
        border-radius: 12px;
        padding: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        height: 100%;
        text-align: center;

        & h6{
            font-size: 20px;
            font-weight: 700;
            color: #0B1221;
        }

        & p{
            color: #4B5563;
            margin-bottom: 0;
        }

    }

    & .blue-card{
        background: #EFF6FF;
        border: 1px solid #E5E7EB;
    }

    & .green-card{
        background: #F0FDF4;
        border: 1px solid #E5E7EB;
    }

    & .purple-card{
        background: #FAF5FF;
        border: 1px solid #E5E7EB;
    }
}

#academy{
    padding: 3% 0;
    background-color: #F9FAFB;

    & h2{
        font-size: 36px;
        font-weight: 700;
        color: #0B1221;
        text-align: center;
        margin-bottom: 3%;
    }

    & p{
        font-size: 20px;
        color: #4B5563;
        max-width: 900px;
        text-align: center;
        margin: 0 auto;
    }
}

#partner{
    padding-top: 5%;
    background-color: #0055FF;

    & .partner-inner{
        display: flex;
        flex-direction: column;
        gap: 15px;
        
        & h2{
            font-size: 36px;
            font-weight: 700;
            color: #FFFFFF;
            text-align: center;
            margin-bottom: 3%;
        }

        & p{
            font-size: 20px;
            text-align: center;
            color: #DBEAFE;
        }

        & span{
            color: #DBEAFE;
        }

        & .white-btn{
            background-color: #FFFFFF;
            border: 1px solid #E5E7EB;
            border-radius: 8px;
            padding: 1% 3%;
            width: fit-content;
            font-weight: 600;
            color: #0055FF;
            transition: all 0.4s ease;
        }

        & .white-btn:hover{
            background-color: #0055FF;
            color: #FFFFFF;
        }

        & .blue-btn{
            background-color: #1D4ED8;
            border: 1px solid #E5E7EB;
            border-radius: 8px;
            padding: 1% 3%;
            width: fit-content;
            font-weight: 600;
            color: #FFFFFF;
            transition: all 0.4s ease;
        }

        & .blue-btn:hover{
            background-color: #1E40AF;
            color: #FFFFFF;
        }

    }

     & .orange-bar{
        background-color: #F59E0B;
        padding: 1% 2%;
        margin-top: 5%;

        & p{
            font-weight: 600;
            color: #FFFFFF;
            margin-bottom: 0;
        }

    }
}


/* FOOTER */

.footer {
    padding: 3% 5%;
    background-color: #FFFFFF;
    border-top: 1px solid #07133624
}

footer a{
    text-decoration: none;
    color: #071336;
}

footer a:hover{
    color: #2F4C56;
}

footer a.active{
    color: #2F4C56;
    font-weight: 900;
}

footer h3{
    font-size: 16px;
    font-weight: 700;
    color: #05123885;
}

footer a p{
    font-size: 14px;
    font-weight: 800;
}

footer .careers-text{
    font-size: 18px;
    font-weight: 500;
    color: #071336;
}

footer .careers-text span{
    font-weight: 700;
}

footer .social-media img:hover{
    transform: scale(1.3);
    transition: 0.3s ease-in-out;
}

footer .social-media-text{
    font-weight: 500;
    color:#8D93A5;
}

.subfooter{
    background-color: #dce9ff;
    text-align: center;
    padding: 19px 0;
    color: #071336;
    border-top: 2px solid rgba(255, 255, 255, 1);
}

